
body{
font-family: 'Single Day', cursive;
}

.apper{
    background-color: #118a7e;
    max-width: 550px;
    margin: 30px auto;
    box-shadow: 0 30px 50px whitesmoke;
    border-radius: 10px;
    padding:20px;

}

header{
    border-bottom: 20px;
    padding:10px;
    text-align: center;
}

.searcher{
    background-color: #e1eacd;
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    font-size: 18px;
    font-family: 'Single Day', cursive;


}

.searchButton{
    background-color: #01352c;
    font-size: 18px;
    padding:10px;
    border: none;
    border-radius: 10px;
    color: antiquewhite;
    font-family: 'Single Day', cursive;
    margin-left: 10px;
}

main{
    display: flow-root;
    justify-content: space-between;
    padding: 10px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 25px;
    text-align: center;

}

p{
    font-size: 18px;
    line-height: 25px;
}
p strong{
    color: #61b390;
}

.appTempContainer{
    display: flex  ;
    justify-content: right;
    
    
}


.iconPic{
    margin-top: 16px;
    font-size: 40px;
    
   
}

.numberTemp{
    font-size: 70px;
    font-weight: bold;

    

}

.degreeUnit{
    margin-top: 16px;
    font-size: 28px;

}




footer{
    border-top:10 px;
    padding: 20px;
    text-align: center;
    font-size: 13px;
    color:#afc5ff;
}